<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title style="background-color: aquamarine; font-weight: bold;">I.M.S</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../Styles/styles.css"> <!-- Adjust the path if needed -->

</head>

<body style="background-color: beige;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<a class="navbar-brand" href="#">I.M.S</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="../View/index.html">Home<span class="sr-only"></span></a>
</li>
<li class="nav-item ">
<a class="nav-link" href="../View/inventory.html">Inventory<span class="sr-only"></span></a>
</li>
<li class="nav-item active">
<a class="nav-link" href="../View/addEmployee.html">Employee</a>
</li>
<li class="nav-item">
<a class="nav-link" href="../View/inventoryView.html">Inventory View<span
class="sr-only"></span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="../View/employeeView.html">Employee View<span
class="sr-only"></span></a>
</li>
<li class="nav-item ">
<a class="nav-link" href="../View/sales.html">Sales</a>
</li>
</ul>

</div>
</nav>
<div class="container mt-5">
<div class="card custom-card " style="max-width: 800px; margin: auto; margin-top: 100px;">
<div class="card-body">
<h1 class="card-title text-center">Employee Management</h1>
<p class="card-text text-center">Employee Details</p>
<form id="employeeForm" class="w-100" style="margin-top: 20px;">
<!-- First Row -->
<div class="row mb-4">
<div class="col-md-6 d-flex justify-content-center">
<div class="form-group text-center">
<label for="employeeName" class="form-label"
style="font-size: 22px; font-weight: 400;">Employee Name</label>
<input type="text" class="form-control form-control-lg" id="employeeName"
placeholder="Enter employee name" style="width: 250px;">
</div>
</div>
<div class="col-md-6 d-flex justify-content-center">
<div class="form-group text-center">
<label for="employeeId" class="form-label "
style="font-size: 22px; font-weight: 400;">Employee ID</label>
<input type="text" class="form-control form-control-lg" id="employeeId"
placeholder="Enter employee ID" style="width: 250px;">
</div>
</div>
</div>


<!-- Second Row -->
<div class="row mb-4">
<div class="col-md-6 d-flex justify-content-center">
<div class="form-group text-center">
<label for="employeeSalary" class="form-label"
style="font-size: 22px; font-weight: 400;">Employee Salary</label>
<input type="text" class="form-control form-control-lg" id="employeeSalary"
placeholder="Enter employee salary" style="width: 250px;">
</div>
</div>
<div class="col-md-6 d-flex justify-content-center">
<div class="form-group text-center">
<label for="employeeSales" class="form-label"
style="font-size: 22px; font-weight: 400;">Employee Sales $</label>
<input type="text" class="form-control form-control-lg" id="employeeSales"
placeholder="Enter employee sales" style="width: 250px;">
</div>
</div>
</div>

<!-- Third Row -->
<div class="row mb-4">
<div class="col-md-6 d-flex justify-content-center">
<div class="form-group text-center">
<label for="employeeLocation" class="form-label"
style="font-size: 22px; font-weight: 400;">Employee Location</label>
<input type="text" class="form-control form-control-lg" id="employeeLocation"
placeholder="Enter employee location" style="width: 250px;">
</div>
</div>
<div class="col-md-6 d-flex justify-content-center">
<div class="form-group text-center">
<label for="storageName" class="form-label"
style="font-size: 22px; font-weight: 400;">Storage Facility Name</label>
<input type="text" class="form-control form-control-lg" id="storageName"
placeholder="Enter facility name" style="width: 250px;">
</div>
</div>
</div>
<div class="row mb-4">
<div class="col-md-6 d-flex justify-content-center">
<div class="form-group text-center">
<label for="productId" class="form-label"
style="font-size: 22px; font-weight: 400;">Product Id</label>
<input type="text" class="form-control form-control-lg" id="productId"
placeholder="Enter product id" style="width: 250px;">
</div>
</div>
<div class="col-md-6 d-flex justify-content-center">
<div class="form-group text-center">
<label for="companyId" class="form-label"
style="font-size: 22px; font-weight: 400;">Company Id</label>
<input type="text" class="form-control form-control-lg" id="companyId"
placeholder="Enter company id" style="width: 250px;">
</div>
</div>
</div>


<div class="text-center">
<button type="submit" class="btn btn-secondary btn-lg">Submit</button>

</div>
</form>
</div>
</div>
</div>
<script type="module" src="../Controller/addEmployee.js" defer></script>
</body>

</html>
